@charset "UTF-8";

body {
    background-color: #427bff;
    font: normal 1em system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    color: white;
    text-align: center;
}

header > h1{
    font-size: 2.6em;
    font-weight: 900;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
}

form{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

form > div.campo > input{
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: #427bff20;
}

form > div.campo > input:hover{
    border: 1px solid rgb(16, 111, 255);
}

form > input{
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #427bff;
    color: white;
    font-size: 0.8em;
    transition: 0.5s;
}

form > input:hover{
    height: 35px;
    background-color: #135aff;
    font-weight: 900;
    font-size: 1.2em;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}