@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #427bff;
    font: normal 1em system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    color: white;
    text-align: center;
}

header > h1{
    font-size: 2.6em;
    font-weight: 900;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
}
form{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

input#txtano{
    width:65%;
}

input#ver{
    height: 30px;
    border-radius: 7px;
    border: none;
    background-color: #427bff;
    color: white;
    font-size: 1em;
    transition: 0.5s;
}

input#ver:hover{
    height: 40px;
    background-color: #004cff;
    font-weight: 900;
    font-size: 1.4em;
}

div.radio{
    display: flex;
    justify-content: space-evenly;
}
div#res{
    text-align: center;
}

img{
    aspect-ratio: 1/1;
    border-radius: 50%;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}